<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>TSFC Media Library</title>
    <meta content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/main/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/imageCard.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
    <link rel="stylesheet" href="/stylesheets/userDash.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header class="navbar">
        <!-- Navbar-->
        <nav class="frank">
            <a href="/">Home</a>
            {{#if loggedIn}}
            <div class="userOut">
                <a href="/user/dashboard">Dashboard</a>
                <a href="/post">Post</a>
                <a href="/user/logout">Logout</a>
            </div>
            {{else}}
            <div class="userNotIn">
                <a href="/user/login">Login</a>
                <a href="/user/register">Register</a>
            </div>
            {{/if}}
            <div class="search-container">
                <form action="/search" method="POST">
                        <input class="typeahead tt-query" autocomplete="off" spellcheck="false" 
                        type="text" placeholder="What are you looking for ?" name="keyword" value="{{searchCriteria.keyword}}"
                        id="searchKeyword" maxlength="40">
                    
                    <button class="btn search-button" type="submit" id="searchButon"><i
                            class="fa fa-search"></i></button>
                </form>
            </div>
        </nav>
        <br />
    </header>

    <!-- Content Body -->
    <main role="main" class="load">
        {{{body}}}
    </main>
</body>

</html>