<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>TSF Records</title>
    <meta content="text/html" ; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/main/favicon.ico" type="image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="site-container">
        <div class="banner-image-container">
            <img src="/images/main/banner_site.png" alt="Banner" class="bannerimg">
            <div class="text-block">
                {{#each count}}{{this.total}}{{/each}}
            </div>
        </div>
        <br />
        <header class="hed">
            <!-- Navbar-->
            <nav class="navbar" style="width: 100%;">
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/submit">Post</a></li>
                        <li><a href="/libraryitem/ignore/any">Random</a></li>
                        {{#if loggedIn.aid}}
                        <li><a href="/masteradmin/dashboard">Mod Review</a></li>
                        <li><a href="/masteradmin/imagereview">Image Review</a></li>
                        <li><a href="/masteradmin/settings">Settings</a></li>
                        <li><a href="/masteradmin/logout">Logout</a></li>
                        {{/if}}
                        {{#if loggedIn.id}}
                        <li><a href="/moderators/dashboard">Dashboard</a></li>
                        <li><a href="/moderators/settings">Settings</a></li>
                        <li><a href="/moderators/logout">Logout</a></li>
                        {{/if}}
                        <li style="float: right; border: none;">
                            <form action="/search" method="POST">
                                <input class="search-bar" autocomplete="off" spellcheck="false" type="text"
                                    placeholder="What are you looking for ?" name="keyword"
                                    value="{{searchCriteria.keyword}}" id="searchKeyword" maxlength="40">
                                <button class="btn search-button" type="submit" id="searchButon"><i
                                        class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <br />
        </header>

        <!-- Content Body -->
        <div>
            {{> message}}
        </div>
        <main role="main" class="load">
            {{{body}}}
        </main>

        <footer class="footer">
            <a href="/about">About</a>
        </footer>
    </div>
</body>

</html>