<div class="container-fluid" style="font-size: larger;">
    <div id="about" style="text-align: center;">
    <p>
        This is the TSF Records, a place where you can search TSF works and find links
        to where you can obtain the works. Anyone can submit a post for a TSF work, which will be reviewed 
        by our moderators before it is made public.
    </p>
    <br/>
    <p>
        Its free for everyone to access and enjoy, so tell your friends!
    </p>
    <br/>
    <p>
        Feel free to support or contribute to the group if you'd like to through our Patreon link or 
        any of our social media below, or if you're already supporting us, thanks for being so hecking swell~
    </p>
    <br/>
    <p>
        If you want to take a look at the website code, you can go <a href="https://github.com/osbaldomartinez20/MediaLibrary" target="_blank">here</a>
    </p>
    <br/>
    </div>

    <div id="social" style="text-align: center;">
        <a href="mailto:tsfcontactus@gmail.com" target="_blank"><img src="/images/social_media_icons/icon-mail-not.png" width="50" height="50" alt="Responsive image"/></a>
        <a href="https://discord.gg/u8uN9rK" target="_blank"><img src="/images/social_media_icons/discord-512.png" width="50" height="50" alt="Responsive image"/></a>
        <a href="https://patreon.com/TSFC" target="_blank"><img src="/images/social_media_icons/patreon_icon.png" width="50" height="50" alt="Responsive image"/></a>
        <a href="https://www.pixiv.net/member.php?id=40195207" target="_blank"><img src="/images/social_media_icons/pixiv.png" width="50" height="50" alt="Responsive image"/></a>
        <a href="https://twitter.com/tsfc_u" target="_blank"><img src="/images/social_media_icons/twitter_circle_color-ful.png" width="50" height="50" alt="Responsive image"/></a>
    </div>
</div>