<!-- Display any error or success messages -->
<div>
    <h2>{{> message}}</h2>
</div>



<div>
    <div class="header">
        <h1>Admin Sign-In</h1>
    </div>

    <!-- Login form -->
    <form action="/masteradmin/login" method="POST">
        <div>
            <input type="username" id="username" name="username" placeholder="Enter username" maxlength="40" required />
        </div>
        <br>
        <div>
            <input type="password" id="password" name="password" placeholder="Enter password" maxlength="20" required />
        </div>
        <br>
        <div>
            <button type="submit" id="submit">Login</button>
        </div>
    </form>

</div>