<div class="container error-template my-4">
    <div class="row">
        <div class="col-auto col-lg-auto mx-auto">
            <div style="font-size: 3vw;">
                <b>
                    Sorry, There Was Some Error!
                </b>
            </div>
            <br/>
            <div style="font-size: 2vw;">
                Try searching for something or go to the <a href="/" style="text-decoration: underline;">home page.</a>  
            </div>
            <div style="padding-top: 50px;">
                <img src="/images/error_image/Super_Monopax.png" alt="Cartoon Aligator" style="width: 200px; height: auto;">
            </div>
        </div>
    </div>
</div>
