<div class="header">
    <h1>Posting Information</h1>
</div>
<br>
<div class="col-5 mx-auto">
    {{> message}}
</div>

<!-- Post Submission form -->
<script type="text/javascript" src="/js/imagePreview.js"></script>
<div>
    <form action="/submit" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <h5>English/Romanji Title</h5>
            <input type="text" id="title" name="title" class="form-control" placeholder="Enter a title" maxlength="40"
                required />
        </div>

        <div class="form-group">
            <h5>Japanese Title (optional)</h5>
            <input type="text" id="japTitle" name="japTitle" class="form-control"
                placeholder="Enter the title in japanese" maxlength="40" />
        </div>

        <div class="form-group">
            <h5>Author <br/>(Preferably in the format Romanji/Japanese)</h5>
            <input type="text" id="author" name="author" class="form-control" placeholder="Enter the author's name."
                maxlength="40" required />
        </div>

        <div class="form-group">
            <h5>Description</h5>
            <textarea class="form-control" rows="5" id="description" name="description"
                placeholder="Please enter a description for the work here." maxlength="250" required></textarea>
        </div>

        <div class="form-group">
            <h5>Details of Publication <br/>(Like year of release and publisher)</h5>
            <textarea class="form-control" rows="5" id="publication" name="publication"
                placeholder="Please enter the details of publication of the work such as publisher, year of plubication, magazine, etc."
                maxlength="250" required></textarea>
        </div>

        <div class="form-group">
            <h5>Tags <br/>(Separate them by commas)</h5>
            <textarea type="text" id="tags" name="tags" class="form-control"
                placeholder="Enter the tags that describe the work. Separate each tag with commas, ex: MILF,Yuri,etc"
                maxlength="1000" required></textarea>
        </div>

        <div class="form-group">
            <h5>Links <br/>(Include the https:// or http:// for links to work, Separate them with commas.)</h5>
            <textarea type="text" id="links" name="links" class="form-control"
                placeholder="Official links of the work. More than one link seperate them with commas."
                maxlength="1000" required></textarea>
        </div>

        <div class="form-group">
            <h5>Type</h5>
            <label for="type">Choose a TSF Type:</label>
            <select name="type" id="type" required>
                {{#each type}}
                <option value="{{this.name}}">
                    {{this.name}}
                </option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <h5>Add Cover Image Here (Optional)</h5>
            <div>
                <label for="coverImage" id="imageLabel">Choose up to 1 image to upload (PNG,
                    JPG)<br></label>
                <br>
                <input type="file" name="coverImage" id="coverImage" accept="image/png,image/jpg,image/jpeg" />
            </div>
            <div class="preview">
                <img id="img" width="100" height="120" />
            </div>
        </div>
        <br>

        <div class="form-group">
            <h5>Add Manga Image Here</h5>
            <div>
                <label for="mangaImage" id="imageLabel2">Choose up to 1 image to upload (PNG,
                    JPG)<br></label>
                <br>
                <input type="file" name="mangaImage" id="mangaImage" accept="image/png,image/jpg,image/jpeg" required />
            </div>
            <div class="preview">
                <img id="img2" width="100" height="120" />
            </div>
        </div>
        <br>

        <div class="row justify-content-end mx-0">
            <button type="reset" class="btn btn-danger"
                id="resetForm">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-success" id="submit">Submit</button>
            <div id="card-stack"></div>
        </div>

    </form>
</div>