<!-- Display any error or success messages -->
<div class="header">
    <h1>Settings</h1>
</div>
<br>

<!-- Password Change Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Change Password</h2>
    <form {{#if loggedIn.id}}action="/moderators/changepass" {{/if}}
        {{#if loggedIn.aid}}action="/masteradmin/changepass" {{/if}} method="POST">
        <div>
            <input type="password" id="password" name="password" placeholder="Create a new password (8-20 characters)"
                minlength="8" maxlength="20" required />
        </div>
        <div>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"
                minlength="8" maxlength="20" required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />

{{#if loggedIn.aid}}

<!-- Add New Type Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Search Post By Id</h2>
    <form action="/masteradmin/findbyid" method="POST">
        <div>
            <input type="text" id="pid" name="pid" placeholder="Enter a post id." maxlength="40" required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />
<!-- Add New Type Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Add a New Type</h2>
    <form action="/masteradmin/newtype" method="POST">
        <div>
            <input type="text" id="newType" name="newType" placeholder="Enter a new type." maxlength="100" required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />

<!-- Add New Origin Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Add a New Origin</h2>
    <form action="/masteradmin/neworigin" method="POST">
        <div>
            <input type="text" id="newOrigin" name="newOrigin" placeholder="Enter a new origin." maxlength="100"
                required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />

<div style="border-style: dotted; text-align: center;">
    <a href="/masteradmin/dbbackup" style="color: black;"><button style="background-color: green;">BackUp
            Database</button></a>
</div>

{{/if}}