<!-- Display any error or success messages -->
<div class="header">
    <h1>Settings</h1>
</div>
<br>

<!-- Password Change Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Change Password</h2>
    <form {{#if loggedIn.id}}action="/moderators/changepass" {{/if}}
        {{#if loggedIn.aid}}action="/masteradmin/changepass" {{/if}} method="POST">
        <div>
            <input type="password" id="password" name="password" placeholder="Create a new password (8-20 characters)"
                minlength="8" maxlength="20" required />
        </div>
        <div>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"
                minlength="8" maxlength="20" required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />

<!-- Add New Type Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Search Post By Id</h2>
    <form action="/search/findbyid" method="POST">
        <div>
            <input type="text" id="pid" name="pid" placeholder="Enter a post id." maxlength="40" required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />

{{#if loggedIn.aid}}
<div style="border-style: dotted; text-align: center;">
    <h2>Change Site Banner</h2>
    <br />
    <h3>Changing The Banner With These Buttons Will Delete Current One</h3>
    <a href="/banner/change"><button style="background-color: blue; color: white; font-weight: bold;">Add a New
            Banner</button></a>
    <br />
    <a href="/banner/default"><button style="background-color: lightblue; color: white; font-weight: bold;">Change to
            Default</button></a>
</div>
<div style="border-style: dotted; text-align: center;">
    <h2>Change Site Tab Icon</h2>
    <br />
    <h3>Changing The Icon With This Button Will Delete Current One</h3>
    <a href="/favicon/change"><button style="background-color: blue; color: white; font-weight: bold;">Add a New
            Icon</button></a>
    <br />
</div>
<div style="border-style: dotted; text-align: center;">
    <h2>Change The Background Color</h2>
    <h3>Use color name, rgb value, or hexadecimal.<br />(ex: white, rgb(255, 255, 255), or #ffffff)</h3>
    <h3>If you want multiple colors add "black;"(or any color + ";") then enter the CSS for linear-gradient
        background.<br /> (Sample Input: "black; background: linear-gradient(to bottom, red 0%, red 33%, green 33%,
        green 66%, blue 66%, blue 100%);")</h3>
    <h3>For more info on multiple colors go <a href="https://stackoverflow.com/questions/35555614/multiple-background-colors-with-css-only" target="_blank">Here</a></h3>
    <form action="/masteradmin/backgroundcolor" method="POST">
        <div>
            <input type="text" id="backgroundColor" name="backgroundColor" placeholder="Enter a color." maxlength="50"
                required />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<div style="border-style: dotted; text-align: center;">
    <h2>Change The NavBar Color</h2>
    <h3>Use color name, rgb value, or hexadecimal.<br />(ex: white, rgb(255, 255, 255), or #ffffff)</h3>
    <form action="/masteradmin/navcolor" method="POST">
        <div>
            <input type="text" id="navColor" name="navColor" placeholder="Enter a color." maxlength="50" required />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<!-- Add New Type Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Add a New Type</h2>
    <h3>If you want to add japanese do it now or you won't be able in the future</h3>
    <form action="/masteradmin/newtype" method="POST">
        <div>
            <input type="text" id="newType" name="newType" placeholder="Enter a new type." maxlength="100" required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />

<!-- Add New Origin Form -->
<div style="border-style: dotted; text-align: center;">
    <h2>Add a New Origin</h2>
    <h3>If you want to add japanese do it now or you won't be able in the future</h3>
    <form action="/masteradmin/neworigin" method="POST">
        <div>
            <input type="text" id="newOrigin" name="newOrigin" placeholder="Enter a new origin." maxlength="100"
                required />
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br />

<div style="border-style: dotted; text-align: center;">
    <a href="/masteradmin/dbbackup" style="color: black;"><button style="background-color: green;">BackUp
            Database</button></a>
</div>
<br />
{{/if}}