<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
            <div class="header">
                <h1>Moderator Sign-In</h1>
            </div>

            <!-- Login form -->
            <form action="/moderators/login" method="POST">
                <div>
                    <input type="username" id="username" name="username" placeholder="Enter username" maxlength="40"
                        required />
                </div>
                <br>
                <div>
                    <input type="password" id="password" name="password" placeholder="Enter password" maxlength="20"
                        required />
                </div>
                <br>
                <div>
                    <button type="submit" id="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>