/*if you change the body here please also change the style.css file*/
body {
  color: black;
  padding: 20px;
  font: 14px;
  font-family: "Lucida Console", Courier, monospace;
  }
  
  a {
    color: #0b4bd6;
  }

  .hidden {
    display: none;
  }
