/*if you change the body here please also change the style.css file*/
body {
  color: black;
  padding: 20px;
  font: 14px;
  font-family: "Lucida Console", Courier, monospace;
}

a {
  color: #0b4bd6;
}

.hidden {
  display: none;
}

.hiddenP {
  display: none;
}

.hiddenN {
  display: none;
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}