/*if you change the body here please also change the bodyKeep.css file*/
body {
  color: black;
  padding: 20px;
  font: 14px;
  font-family: "Lucida Console", Courier, monospace;
}

a {
  color: #0b4bd6;
}

#text {
  text-align: center;
}

.alert {
  text-align: center;
  color: rgb(255, 255, 255);
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgb(221, 205, 205);
  color: black;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.load {
  flex: 1;
}

.footer {
  width: 100%;
  font-size: larger;
}

#feedbackLink {
  float: right;
}

@media (min-width:751px){
    .bannerimg {
        display: block; 
        width: 100%;
        height: auto;
    }
    .text-block {
      position: absolute;
        top: 39%;
        left: 81.25%;
        transform: translate( -50%, -50% );
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 210%;
    }
}

@media (max-width:750px){
    .bannerimg {
        display: block; 
        width: 100%;
        height: auto;
    }
    .text-block {
      position: absolute;
        top: 39%;
        left: 81.25%;
        transform: translate( -50%, -50% );
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 110%;
    }
}

.banner-image-container {
  position: relative;
    display: inline-block;
    ;
}

.errMsg {
  text-align: center;
  color: rgb(250, 250, 250);
}

ul#menu li {
  display:inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border: 1px solid rgb(0, 0, 0);
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  text-align: center;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#addTag {
  padding: 5px 10px;
  font-size: large;
  margin: 0px 0px;
}

.tags {
  color: white;
  background-color: black; 
  border-style: dotted; 
  text-align: center;
}

.firstchar {
  text-align: center; 
  width:100%;
  font-size: 250%;
}

.checkbox-options {
  font-size: medium; 
  text-align: center;
}

form {
  text-align: center;
}

#username {
  width: 50%;
  border-color: gray;
}

#password {
  width: 50%;
  border-color: grey;
}

#confirmPassword {
  width: 50%;
  border-color: grey;
}

#register {
  color: aliceblue;
  background-color: blue;
}

#passwordMsg {
  padding-bottom: 10px;
}

#title {
  width: 50%;
  border-color: gray;
}

#japTitle {
  width: 50%;
  border-color: gray;
}

#author {
  width: 50%;
  border-color: gray;
}

#description {
  width: 50%;
  border-color: gray;
}

#publication {
  width: 50%;
  border-color: gray;
}

#tags {
  width: 50%;
  border-color: gray;
}

#links {
  width: 50%;
  border-color: gray;
}

#submit {
  color: aliceblue;
  background-color: limegreen;
  
}

#resetForm {
  color: aliceblue;
  background-color: red;
  
}

.itemContainer {
  text-align: center;
}

#postImage {
  height: 420px;
  width: auto;
  border-style: solid;
}

#coverImage {
  height: 420px;
  width: auto;
  border-style: solid;
}

.description {
  text-align: center;    
}

#cDes {
  white-space: pre-wrap;
}

.error-template {
  text-align: center;
}

#imageTable {
  width: 100%;
  text-align: center;
}

#TableTitle {
  text-align: center;
}

.table, .th, .td {
  border: 1px solid black;
}

.imagePrev {
  border-bottom: 1px solid black;
}

.pointer {
  cursor: pointer;
}

.sortButton {
  background-color: green;
  float: right;
  cursor: pointer;
}

#dDes {
  white-space: pre-wrap;
}


#edit_button {
  color: black;
}

#del_b {
  background-color: red;
}

#delete_button {
  color: black;
}

#yes {
  background-color: red;
}

#yes_button {
  color: black;
}
#no {
  background-color: green;
}