#edit_button {
    color: black;
}

#del_b {
    background-color: red;
}

#delete_button {
    color: black;
}

#yes {
    background-color: red;
}

#yes_button {
    color: black;
}
#no {
    background-color: green;
}

#no_button {
    color: black;
}